// Заголовки, загальні БЕМ блоки та інше...

.page {
  
   &__main {
   }

   &__reservation {
   }
   
   &__company {
   }
}
 /*--------------Text----------------*/
   .text {
      line-height: math.div(30, 16);
   }

/*--------------Button----------------*/
   .button {
      display: inline-block;
      position: relative;
      z-index: 5;
      font-weight: 600;
	   font-size: rem(16);
      border-radius: rem(4);
      background-color: $yellowColor;
      color: $darkColor;
      line-height: math.div(24, 16);
   	transition: all 0.5s ease 0s;
	@media (any-hover: hover){
		&:hover{
			background-color: #fff;
			border: rem(1) solid $darkColor;
		}
	}

	@media (max-width:$tablet){
		padding: rem(12) rem(30);
		font-size: rem(15);
	   }
      @media (max-width:$mobileSmall){
         width: 100%;
      }
	}

   .button-white {
      background-color: #fff;
      padding: rem(18) rem(35);
      transition: all 0.5s ease 0s;
      @media (any-hover: hover){
         &:hover{
            background-color: $yellowColor;
         }
      }
   }

   /*------------------------------*/