//====================================================================================================

.main-section {
   // background-color: #ec2424;
   
   &__container {
   }

   &__content { 
      margin-top: rem(105);
      position: relative;
      z-index: 2;
    @media (max-width:$mobile){
     margin-top: rem(75); 
    }
   }

   &__title {
      line-height: math.div(76, 64);
      font-weight: 700;
      max-width: rem(488);
      &:not(:last-child) {
        margin-bottom: rem(17);
      }
      @include adaptiveValue("font-size", 64, 40);
   }

   &__text {
      max-width: rem(560);
      margin-bottom: rem(30);
   }

   &__actions {
      display: flex;
      gap: rem(20);
      @media (max-width:$mobile){
         flex-wrap: wrap;
      }
     &:not(:last-child) {
     @include adaptiveValue("margin-bottom", 175, 75); 
     }
   }

   &__button {
      padding: rem(18);
   }

   &__items {
   }
 
	&__image-ibg {
      // overflow: hidden;
      position: absolute;
      width: 100%;
      height: 160%;
      top: 0;
      left: 0;
      img{
         // object-position: top; 
      }
	}
}

//========Reservation==========================================================================

.reservation {
   background-color: #fff;
  
   margin-top: rem(70);

   &__container {
   }

   &__body {
      box-shadow: 0 6px 24px 0 rgb(228, 226, 238, 1);
   }

   &__items {
   }

   &__booking {
   }
}
.item-reservation {
   position: relative;
   z-index: 2;
   // margin: -170px 0px 0px 0px;
   display: flex;
   gap: rem(10);
   @include adaptiveValue("padding-top", 175, 55);
   @media (max-width:$mobile){
       flex-wrap: wrap; 
       justify-content: center;
   }

   &__block {
          width: rem(120);
         height: rem(45);
         background-color: #fff;
         color: $darkColor;
         display: flex;
         gap: rem(10);
         padding: rem(8) rem(14);
         line-height: math.div(24, 16);
         font-weight: 600;
         text-align: center;
         align-items: center;
         border-radius: rem(4);
         transition: all 0.5s ease 0s;
        @media (any-hover: hover){
         &:hover{
            background-color: $yellowColor;
            }
         }
      }
   }

.block {

   &__icon {
   }

   &__text {
   }
}
.booking-reservation {
   display: flex;

   position: relative;
   z-index: 2;

   &__items {
      flex: 1 1 auto;
   }

   &__action {
      padding-top: rem(33);
   }

   &__button {
      padding: rem(15) rem(39);
   }
}

.item-booking-reservation {
    background-color: #fff;
    display: flex;
    gap: rem(22);
    
   &__body {
       padding: rem(38) rem(25);
		}

 
   &__destination {
      background-color:#fefefe;
      color: $darkColor;
      font-weight: 600;
      line-height: math.div(24, 16);
      &:not(:last-child) {
         margin-bottom: rem(7);
      }
   }

   &__name-city {
      min-width: rem(170);
      padding: rem(20) rem(10);
      color: #70717B;
      box-shadow: 0 0 6px rgb(228, 226, 238, 1);
      select{
         font-size: rem(16);
      }
   }
}


