//====================================================================================================

.main-section {
   //background-color: #ec2424;
   
   &__container {
      min-height: 100%;
      padding-bottom: rem(220);
   }

   &__content { 
      margin-top: rem(105);
      position: relative;
      z-index: 2;
    @media (max-width:$mobile){
     margin-top: rem(75); 
    }
   }

   &__title {
      line-height: math.div(76, 64);
      font-weight: 700;
      max-width: rem(488);
      &:not(:last-child) {
        margin-bottom: rem(17);
      }
      @include adaptiveValue("font-size", 64, 40);
   }

   &__text {
      max-width: rem(560);
      margin-bottom: rem(30);
   }

   &__actions {
      display: flex;
      gap: rem(20);
       @media (max-width:$mobile){
         flex-wrap: wrap;
      }
     &:not(:last-child) {
     @include adaptiveValue("margin-bottom", 175, 75); 
     }
   }

   &__button {
      padding: rem(18);
   }

   &__items {
   }
 
	&__image-ibg {
      position: absolute;
		width: 100%;
		min-height: 900px;
		top: 0;
		left: 0;
		object-fit: cover;
   
   img{
       vertical-align: top;    
      }
	}
}

//========Reservation==========================================================================

.reservation {
   background-color: #fff;
   
   &__container {
   }

   &__body {
      margin-top: rem(-70);
      box-shadow: 0 6px 24px 0 rgb(228, 226, 238, 1);
      @include adaptiveValue("margin-top", -70, -15);
      }

   &__items {
   }

   &__booking {
   }
}

.item-reservation {
   position: relative;
   z-index: 2;
   display: flex;
   gap: rem(10);
   flex-wrap: wrap; 
   @media (max-width: rem(541)){
      justify-content: center;
        
   }

   &__block {
      width: rem(120);
      height: rem(45);
      background-color: #fff;
      color: $darkColor;
      display: flex;
      gap: rem(10);
      padding: rem(8) rem(14);
      line-height: math.div(24, 16);
      font-weight: 600;
      text-align: center;
      align-items: center;
      border-radius: rem(4) rem(4) rem(0) rem(0);
      transition: all 0.5s ease 0s;
     @media (any-hover: hover){
      &:hover{
         background-color: $yellowColor;
         }
      }
   }    
}

.booking-reservation {
   background-color: #fff;
   display: flex;
   flex-wrap: wrap; 
   justify-content: center;
   position: relative;
   z-index: 2;
 
   &__items {
      
   }

   &__action {
      padding-top: rem(33);
      text-align: center;
      @media (max-width:$mobileSmall){
         width: 100%;
         display: inline-block;
      }
   }

   &__button {
      padding: rem(15) rem(39);
     
   }
}

.item-booking-reservation {
    background-color: #fff;
    display: flex;
    @media (max-width:$mobileSmall){
      width: 100%;
      display: inline-block;
   }
     
   &__body {
       padding: rem(38) rem(25);
       @media (max-width:$mobile){
         padding: rem(20) rem(25);  
       }
   }

   &__destination {
      background-color:#fefefe;
      color: $darkColor;
      font-weight: 600;
      line-height: math.div(24, 16);
      &:not(:last-child) {
         margin-bottom: rem(7);
      }
   }

   &__name-city {
      min-width: rem(170);
      padding: rem(18) rem(10);
      color: #70717B;
      box-shadow: 0 6px 24px rgb(228, 226, 238, 1);
      select{
         font-family: "Popins";
         font-weight: 700;
         font-size: rem(16);
         line-height: math.div(15, 16);
         color: #70717B;
      }
      input{
         font-size: rem(16);
         line-height: math.div(15, 16);
         color: #70717B;
      }
   }
}

//========company==========================================================================

.company {
   display: flex;
   position: relative;
   padding: rem(95) rem(0) rem(125) rem(0);
   background: url(../img/Travel.svg) 50% -45px no-repeat;

   &__container {
   }

   &__inner {
      display: flex;
      flex: 0 1 50%;
      @include adaptiveValue("column-gap", 80, 20);
      // gap: rem(80);
       @media (max-width:rem(1049)){
        flex-wrap: wrap-reverse;
       justify-content: center;
      }
   }

  	&__images {
      
		}

   &__info {
   }

   &__image-surf {
      display: flex;
      position: relative;
      // accent-color: flex-end;
      max-width: 351px;
      max-height: 442px;
      // overflow: hidden;
      background: url('@img/company/03.png') 0 0 no-repeat;
   }
}

.images-company {
   display: flex;
   flex: 0 1 50%;
   position: relative;
  
   
   &__photo-1 {
      overflow: hidden;
         img{
         max-width: 100%;
      }
   }

   &__photo-2 {
      display: block;
      overflow: hidden;
      align-self: flex-end;
      margin-left: rem(-95);
      margin-bottom: rem(-45);
         img{
         max-width: 100%;  
      }
      
   }
}

.info-company {
    // @include adaptiveValue("padding-right", 185, 85);

   &__body {
      display: flex;
      flex-direction: column;
     }

   &__lable {
      font-family: $fontFamilyQuick;
      color: $yellowColor;
      font-weight: 400;
      font-size: rem(24);
      line-height: math.div(15, 24);
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   &__content {
   }

   &__title {
      max-width: rem(479);
      color: $darkColor;
      font-weight: 700;
      font-size: rem(36);
      line-height: math.div(48, 36);
         &:not(:last-child) {
            margin-bottom: rem(29);
}        
   }

   &__text {
      max-width: rem(525);
      color: #9DA1B4;
      font-weight: 400;
      line-height: math.div(24, 16);
      &:not(:last-child) {
         margin-bottom: rem(19);
      }
   }

   &__list {
     
         li{
            // position: relative;
            line-height: math.div(36, 16);
            color: #9DA1B4;
         &:not(:last-child) {
             margin-bottom: rem(10);
            }
         }
         li::before{
            content: "";
            left: 0;
            top: 0;
            background: url(../img/icons/icon.svg) left no-repeat;
            padding-left: rem(35);
           }
}

   &__items {
      width: rem(88);
      height: rem(80);
      margin-top: rem(30);
      margin-bottom: rem(50);
   }

   &__action {
   }

   &__button {
      padding: rem(18) rem(39);
      text-align: center;
      @media (max-width:rem(1049)){
        margin-bottom: rem(20);
        width: 100%;
       }
     }
}

.item-info-company {
   display: flex;
   flex: 0 0 33.333%;
   @include adaptiveValue("column-gap", 95, 5);
   &__aside {
      
   }
}

.aside {

   &__box {
   }

   &__date {
      display: inline-block;
      color: $yellowColor;
      font-size: rem(36);
      font-weight: 700;
      line-height: math.div(28, 36);
      &:not(:last-child) {
         margin-bottom: rem(7);   
      }
   }

   &__text {
      color: #9DA1B4;
      font-weight: 500;
      line-height: math.div(24, 16);
   }
}

